body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  
}
.dark-theme {
  color: #f2f2f2;
  background-color: #4b094b;
  background: url("img/hero-bg.jpg") no-repeat top center fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

.light-theme {
  background-color: white;
  color: #310909; 
  background: url("img/hero-bg1.jpg") no-repeat top center fixed;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.theme-button {
  color: #fea18d;
  border: none;
  border-radius: 10%;
  margin-left: 20px;
  background: transparent;
  font-size: 16px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

 .sleep {
text-align: right;
 }

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}

.hero-image {
  margin-bottom: 480px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

div.skills {
margin-bottom: 100px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

dd.level div.dark-theme {
   background: white; color: red;
}

dd.level div.light-theme {
   background: black; color:pink
}

.skill-html {
  background-image: url("img/icon-html.svg");
}